body{
  text-align: center;
  font-family: Helvetica;
}
.hero{
  display: block;
  background-image: url('../images/background.png');
  color: white;
}
h1{
  font-size: 70px;
  font-weight: bold;
}
h3{
  font-weight: bold;
  display: block;
  font-size: 23px;
}
.footer{
  background-color: dimgray;
  text-align: left;
  color: white;
  font-size: 11px;
}
a:link{
  color: white;
}
a:visited{
  color: white;
}
